.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.links {
    text-decoration: none !important;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}