.container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100vh !important;
}

.rower {
    height: 70% !important;
    display: flex;
    justify-content: center;
    align-items: flex-start !important;
}

.links {
    text-decoration: none !important;
}