.back-btn-sub {
    position: absolute;
    top: 2rem !important;
    left: 2rem;
}

.title-wrapper {
    width: 100%;
    text-align: center;
    padding: 2rem 0 0 0;
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #0d6efd;
}

.btn-link {
    text-decoration: none !important;
    color: white !important;
}

.section-name {
    font-weight: 900;
    font-size: 5rem;
}

.section {
    width: 30% !important;
    height: 300px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #0d6efd !important;
    box-shadow: 0 0 10px #0d6efd !important;
    background-image: url("../../assets/signin.jpg");
    background-size: cover;
    background-position: center;
}