.details-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    gap: 2rem;
}

.btn-link {
    text-decoration: none !important;
    color: white !important;
}

.details-text span {
    font-size: 6rem;
    font-weight: 700;
    color: #0d6efd;
}

body {
    background-color: rgb(249, 249, 244) !important;
}

.details-gif {
    width: 50%;
    height: 50%;
    border: 4px solid #0d6efd !important;
    border-radius: 10px;
}

.back-btn {
    position: absolute;
    top: 2rem;
    left: 2rem;
}